body {
  margin: 0;
}

header {
  font-size: 50px;
  text-align: center;
  background-color: #1c4e80;
  color: #fff;
  margin: 0;
}

.content {
  border: 20px solid #ccc;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}
.logo {
  width: 300px;
}

.floatleft {
  float: left;
}

.appSummary {
  padding: 40px;
  text-align: center;
  align-items: center;
}

.resumeData table {
  border-collapse: collapse;
  width: 250px;
  margin: 10px 60px;
  margin-left: 110px;
}

.resumeData th,
.resumeData td {
  border: 2px solid #000;
  text-align: center;
}

.dashboard {
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.form-frames {
  padding: 20px;
  background-color: #202020;
  color: #fff;
  text-align: center;
  margin: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-frames form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-frames label {
  margin-bottom: 10px;
  color: #fff;
}

.form-frames input,
.form-frames select {
  margin-bottom: 10px;
  width: 150px;
  padding: 5px;
}

.submit_button,
.reset_button {
  background-color: #0000ff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  margin-top: 15px;
  cursor: pointer;
  width: fit-content;
  transition: background-color 0.3s ease;
}

.submit_button:hover,
.reset_button:hover {
  background-color: #000050;
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
}

.result table {
  border-collapse: collapse;
  width: 80%;
  max-width: 600px;
  margin: 0 20px;
}

.result th,
.result td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: center;
}

::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-corner,
::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #1c4e80;
  background-clip: padding-box;
  border: 2px solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1c4e80;
}

::-webkit-scrollbar-thumb:active {
  background-color: #1c4e80;
}

/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #fff;
  display: block;
  background-size: 12px;
  background-repeat: no-repeat;
}

.table_button {
  color: #fff;
  margin: 2px;
  width: fit-content;
  background-color: #0000ff;
}

.table_button:hover,
.table_button::selection {
  background-color: #000050;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 12px;
  width: 16px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(73, 73, 73)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:active {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(128, 128, 128)'><polygon points='50,00 0,50 100,50'/></svg>");
}

/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 12px;
  width: 16px;
  background-position: center 2px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(73, 73, 73)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(112, 112, 112)'><polygon points='0,0 100,0 50,50'/></svg>");
}
